!!! 5
head
  meta(charset='utf-8')
  title Node Express 3 boilerplate using CoffeeScript, SASS, Jade and Mocha
  meta(name='description', content='')
  meta(name='author', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='icon', href='/images/favicon.ico')
  link(rel='stylesheet', href='/stylesheets/style.css')
  


body
  include partials/header
  
  block content

  include partials/footer

  script(src='/javascripts/application.js')

  